body{margin:0; padding:0;font-family: "Comic Sans MS", cursive, sans-serif;
background: url(body-bg.gif);}


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: "Comic Sans MS", cursive, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: transparent;
  margin-left: 35%;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}


.inline 
table{
	border: 1px solid black;
	padding: 2px 2px;
	width: 100px;
	height: 150px;
}


a{
	text-decoration: none;
	color: black;
}

/* LOGIN NAV */

.menu {
	
	height: 30px;
	background: darkorange;
}

.menu ul {
	margin: 0;
	padding: 0;
}
.menu ul li {
	
	list-style: none;
}

.menu ul li a{
	text-decoration: none;
	float: right;
	display: block;
	padding: 8px 15px;
	color: white;
	margin: 0 auto;
}

.menu ul li a:hover{
	color: #fff;
}
/* LOGIN NAV end */

.drob ul {list-style: none;padding: 0px;margin: 0px; }
  .drob ul li {display: block;position: relative; float: right;}
  .drob li ul {display: none; }
  .drob ul li a {display: block;background: transparent;padding: 5px 10px 5px 10px;text-decoration: none;
           white-space: nowrap;color: #000; }
  .drob ul li a:hover {background: silver; }
 .drob  li:hover ul {display: block; position: absolute;}
 .drob  li:hover li {float: none;}
  .drob li:hover a {background: silver;}
  .drob li:hover li a:hover {background: silver;}
  #drop-nav li ul li {border-top: 0px;}
.drob #drop-nav{

	background: green;
}
.inline{
	width:100px;
	border: 1px solid black;
	padding: 20px 20px;
	display: inline-block;
	margin-left: 250px;
	position: relative;
	

}

.homeinline{
	display: inline-block;
	width: 100px;
	margin-left: 30%;
	padding: 50px;
	position: relative;
	
}
.one{
	
	border: 1px solid black;
	width: 100px;
	padding: 10px 10px;
	position: relative;
}

.two, .three, .four{
	display: inline-block;
	border: 1px solid black;
	width: 100px;
	position: relative;
	padding: 10px 10px;
	margin: 20px;
}

.bold{
	font-size: 19px;
	font-weight: bold;
	color: darkorange;
	position: absolute;
	bottom: 0;
}
.bold2{
	font-size:19px;
	font-weight: bold;
	color: darkorange;
	bottom: 0;
	
}